<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.RoleMapper">

    <resultMap type="com.example.common.core.domain.entity.Role" id="RoleResult">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleSort" column="role_sort"/>
        <result property="status" column="status"/>
        <result property="delFalg" column="del_falg"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectRoleVo">
	   select role.* from role
       LEFT JOIN relation_user_role on role.id=relation_user_role.role_id
       LEFT JOIN user_info on user_info.user_id=relation_user_role.user_id
    </sql>



    <select id="selectRoleByUserId" parameterType="Long" resultMap="RoleResult">
        <include refid="selectRoleVo"></include>
        where  role.status = '0' and role.del_flag ='0'
        and user_info.user_id=#{userId}
    </select>

    <select id="selectRoleList" parameterType="com.example.common.core.domain.entity.Role" resultMap="RoleResult">
       select role.* from role
        where  role.del_flag ='0'
        <if test=" roleName != null">
          and  role_name like concat('%',#{roleName},'%')
        </if>
        <if test=" roleCode != null">
          and  role_code like concat('%',#{roleCode},'%')
        </if>
        <if test=" status != null">
          and  status = #{status,jdbcType=CHAR}
        </if>
    </select>


    <select id="selectRoleList1" parameterType="String" resultMap="RoleResult">
        select role.* from role
        where  role.del_flag ='0'
        <if test=" roleName != null">
           and role_name = #{roleName},
        </if>
    </select>







</mapper>