<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.SysConfigMapper">

    <resultMap type="com.example.common.core.domain.entity.SysConfig" id="SysConfigMap">
        <result property="configId" column="config_id" jdbcType="INTEGER"/>
        <result property="configName" column="config_name" jdbcType="VARCHAR"/>
        <result property="configKey" column="config_key" jdbcType="VARCHAR"/>
        <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
        <result property="configType" column="config_type" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectConfigVo">
        select config_id, config_name, config_key, config_value, config_type, create_by, create_time, update_by, update_time, remark
		from sys_config
    </sql>

    <!-- 查询条件 -->
    <sql id="sqlwhereSearch">
        <where>
            <if test="configId !=null">
                and config_id = #{configId}
            </if>
            <if test="configKey !=null and configKey != ''">
                and config_key = #{configKey}
            </if>
        </where>
    </sql>

    <select id="selectConfig" parameterType="com.example.common.core.domain.entity.SysConfig" resultMap="SysConfigMap">
        <include refid="selectConfigVo"/>
        <include refid="sqlwhereSearch"/>
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="SysConfigMap">
        select
          config_id, config_name, config_key, config_value, config_type, create_by, create_time, update_by, update_time, remark
        from sys_config
        where config_id = #{configId}
    </select>

    <select id="getDeleteKeys" resultType="java.lang.String">
        select concat("sys_config:",config_key )
        from sys_config
        where config_id in
        <foreach collection="configIds" item="configId" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </select>

    <!--查询指定行数据-->
    <select id="selectConfigList" resultMap="SysConfigMap">
        select
          config_id, config_name, config_key, config_value, config_type, create_by, create_time, update_by, update_time, remark
        from sys_config
        where ( del_flag = '0' or del_flag is null)
        <if test="configName != null and configName != ''">
           and config_name like concat('%', #{configName}, '%')
        </if>
        <if test="configKey != null and configKey != ''">
            and config_key like concat('%', #{configKey}, '%')
        </if>
        <if test="configType != null and configType != ''">
            and config_type = #{configType}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by create_time desc
    </select>



    <!--新增所有列-->
    <insert id="insert" keyProperty="configId" useGeneratedKeys="true">
        insert into sys_config(config_name, config_key, config_value, config_type, del_flag, create_by, create_time, update_by, update_time, remark)
        values (#{configName}, #{configKey}, #{configValue}, #{configType}, #{delFlag}, #{createBy}, sysdate(), #{updateBy}, sysdate(), #{remark})
    </insert>


    <insert id="insertOrUpdate" keyProperty="configId" useGeneratedKeys="true">
        insert into sys_config(config_name, config_key, config_value, config_type, create_by, create_time,
        update_by, update_time, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.configName}, #{entity.configKey}, #{entity.configValue}, #{entity.configType}, #{entity.createBy},
            sysdate(), #{entity.updateBy}, sysdate(), #{entity.remark})
        </foreach>
        on duplicate key update
        config_name = values(config_name) , config_key = values(config_key) , config_value = values(config_value) ,
        config_type = values(config_type) , create_by = values(create_by) , create_time = values(sysdate()) ,
        update_by = values(update_by) , update_time = values(sysdate()) , remark = values(remark)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_config
        <set>
            <if test="configName != null and configName != ''">
                config_name = #{configName},
            </if>
            <if test="configKey != null and configKey != ''">
                config_key = #{configKey},
            </if>
            <if test="configValue != null and configValue != ''">
                config_value = #{configValue},
            </if>
            <if test="configType != null and configType != ''">
                config_type = #{configType},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = sysdate(),
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where config_id = #{configId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteByIds">
        update sys_config
        <set>
            del_flag = 2,
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
                update_time = sysdate()
        </set>
        where config_id in
        <foreach collection="ids" item="configId" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>

</mapper>
